Repository hidaytrahman/template-rtw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, yarn test:coverage --findRelatedTests --bail

husky fixes for deprecate
  .husky/pre-commit
Due: none

more
  src/services/app.services.ts
Due: eslint --fix, prettier --write, yarn test:coverage --findRelatedTests --bail

prettier setup with husky
  .prettierrc
  package.json
  yarn.lock
Due: none

husky setup eslint
  .lintstagedrc
  eslint.config.js
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: file issue
  src/services/app.services.ts
Due: eslint --fix, prettier --write, yarn test:coverage --findRelatedTests --bail

doc: update doc with the CLI
  README.md
  image-1.png
Due: prettier --write

doc: visualisation to CLI
  README.md
  demo-create-reactw-app-installation.svg
Due: prettier --write

doc: update readme with logo and banner
  README.md
  create-reatw-app.png
  rtw-logo.png
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,md}
  yarn test:coverage --findRelatedTests --bail: any of: src/**/*.{js,jsx,ts,tsx}
